@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: var(--font-size-body);
  background-color: #EBF8FF !important;

}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--base-500);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--base-500);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: var(--base-500);
}

h4 {
  font-family: var(--font-family);
  font-size: var(--font-size-h4);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-transform: uppercase;
  color: var(--base-300);
}

p {
  font-family: var(--font-family);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--base-400);
}

a {
  font-family: var(--font-family);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--primary-500);
  text-decoration: none;
}

small {
  font-family: var(--font-family);
  font-size: var(--font-size-h4);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: var(--base-400);
}

.card-big {
  border-radius: 20px;
  padding: 32px 47px 40px;
  background-color: white;
}

.card-big-side {
  border-radius: 20px;
  padding: 32px 47px;
  background-color: white;
  border: 1px solid #4FD1C5;
}

.card-list {
  margin-top: 10px;
  cursor: pointer;
  :active {
    background-color: rgb(232, 235, 235);
  }
  :hover{
    background-color: rgb(232, 235, 235);
  }
}

.border-light {
  border-color: #eaedf1;
}

.btn-xxl {
  float: right;
  margin: 32px 0px;
  padding: 0.6rem 1.5rem;
}

button:focus {
  outline: 0 !important;
}

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  margin: 0;
  top:0;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  height: 100px;
}

.summary-menu-closed {
  display: none;
  width: 100%;
}

.summary-menu-open {
  display: block;
  width: 100%;
}

.nav-link {
  height: 5rem;
  text-decoration: none;
  color: white;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  transform: rotate(90deg);
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.menu-open svg {
  transform: rotate(-90deg);
}