:root {
  --font-size-h1: 40px;
  --font-size-h2: 28px;
  --font-size-h3: 24px;
  --font-size-h4: 12px;
  --font-size-caption: 14px;
  --font-size-body: 16px;
  --atom-box-shadow: 0 2px 4px 0 rgba(34, 35, 40, 0.16);
  --atom-bezier: cubic-bezier(0.42, 0, 0.58, 1);
  // Generic palette
  // Primary
  --primary-600: #004E5F;
  --primary-500: #007A74;
  --primary-400: #00B4AA;
  --primary-300: #B4E6E6;
  --primary-200: #C7EDED;
  --primary-100: #DEF7F7;
  // Secondary
  --secondary-500: #47418D;
  --secondary-400: #978FFA;
  --secondary-300: #E0DFFA;
  --secondary-200: #EEECFF;
  --secondary-100: #F2F0FF;
  // Positive
  --positive-600: #005F59;
  --positive-500: #49DE72;
  --positive-400: #69D186;
  --positive-300: #C8EBD2;
  --positive-200: #D3EDE2;
  --positive-100: #DFF2EA;
  // Negative
  --negative-600: #4D2E3B;
  --negative-500: #FF5B5B;
  --negative-400: #FF9494;
  --negative-300: #FFD2D2;
  --negative-200: #FAE3E7;
  --negative-100: #FAEBEE;
  // Warning
  --warning-600: #482E4D;
  --warning-500: #FFB963;
  --warning-400: #FFC680;
  --warning-300: #FFEBD2;
  --warning-200: #F8E8DD;
  --warning-100: #FAEEE6;
  // Base
  --base-500: #222328;
  --base-400: #505366;
  --base-300: #BDC0CF;
  --base-200: #E6EBF4;
  --base-100: #FAFAFC;
  // Silence @reach/reach-ui warnings since
  // we do not import their styles on purpose.
  // See: https://github.com/reach/reach-ui/issues/136
  --reach-tooltip: 1;
  --reach-menu-button: 1;
  --reach-dialog: 1;
}